@model sitedb.Models.Details_has_Materials

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Details_has_Materials</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materials.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materials.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
